#AgregarPrestamoForm {
    background-color: #F2F2F2;
    color: #0F264A;
    padding: 20px;
}

.ingresar-prestamo-h2 {
    text-align: center;
}

.product-table {
    border: solid 1px black;    
    padding: 10px;
}